 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    /* height: 100%;
    width: 100%;
    min-height: 100%; */
    font-size: 16px;
    color: #4e4e3f;
    background-color: #ececec;
}

body {
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    line-height: 125%;
    
}

nav {
    background-color: #fbfbfb;
    box-shadow: 1px 0 rgba(0,0,0,.07),3px 0 rgba(0,0,0,.07);
    min-width: 252px;
    width: 250px;
    max-width: 250px;
}
main {
    display: flex;
    gap:10px;
}

.main-content {
    padding: 0;
    width: 768px;
    margin: 0 auto;
}
nav .wrap {
    width: 252px;
    /* position: fixed; */
    /* top: 0; */
    padding: 0;
}
.menu-header {
    background-color: #05a087;
}
.menu-header.auth .logo {
    height: 80px;
} 
a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}
a:focus, a:hover {
    outline: 0;
    color: #23527c;
    text-decoration: underline;
}
.menu-header .logo a {
    display: flex;
    background-color: #048873;
    justify-content: center;
    align-items: center;
    height: 80px;
}
a, a:visited, a:hover, a:focus {
    color: #00aeef;
}
img {
    border: 0;
    vertical-align: middle;
}
.menu-header .logo img {
    width: 63%;
}
.menu-header.auth .logo img {
    margin-top: -10px;
}
.menu-header .logged-in-block {
    padding: 1rem 1rem;
    text-align: center;
  }
  .menu-header .logged-in-block .user-profile-block {
    display: flex;
    width: 100%;
    font-family: "Roboto Condensed",sans-serif;
  }
.menu-header .logged-in-block .user-profile-block .user_logo {
    width: 90px;
    position: relative;
}
.user-photo-round {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.user-photo-round::after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: inset 2px 2px rgba(0,0,0,.075);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
.user-photo-round > img {
    height: 90px;
    width: 120px;
    position: absolute;
    left: -15px;
    pointer-events: none;
}
.user-photo-round a.public-profile {
    opacity: 0;
    transition: opacity 350ms ease;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
.user-photo-round a.public-profile > span {
    font-size: 95%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
.user-photo-round a.public-profile > span > i {
    text-align: center;
    display: inline-block;
    margin-top: .325em;
    width: 1rem;
    height: 1rem;
}
.svg-sprite-site-menu {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
  .svg-sprite-site-menu.icon-profile {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M10%201a9%209%200%201%200%209%209%209.01%209.01%200%200%200-9-9zm6.139%2012.358c-.505-1.165-2.213-2.092-4.415-2.417a3.037%203.037%200%201%200-3.448%200c-2.202.325-3.91%201.252-4.415%202.417a7%207%200%201%201%2012.278%200z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }
  .menu-header .logged-in-block .user-profile-block .user_logo .user-extra-block {
    position: absolute;
    left: -3px;
    top: 65px;
    width: 30px;
    height: 30px;
    padding: 3px 3px 3px 25px;
    background-color: transparent;
    border-radius: 30px;
    transition: width 200ms ease;
    text-decoration: none;
    overflow: hidden;
  }
  .menu-header .logged-in-block .user-profile-block .user_logo .user-extra-block .extra-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 3px;
  }
  .menu-header .logged-in-block .user-profile-block .user_logo .user-extra-block.extra-inactive .extra-icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
.menu-header .logged-in-block .user-profile-block .user_logo .user-extra-block .extra-status {
    white-space: nowrap;
    line-height: 24px;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 400;
    color: transparent;
  }
.menu-header .logged-in-block .user-profile-block .user_links {
    padding-left: 1rem;
}
.menu-header .logged-in-block .user-profile-block .user_links > a {
    display: block;
    text-align: left;
}
.menu-header .logged-in-block .user-profile-block .user_links a.name {
    text-align: left;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 300;
}
.menu-header .logged-in-block .user-profile-block .user_links a.name, .menu-header .logged-in-block .user-profile-block .user_links a.logout, .menu-header .logged-in-block .user-profile-block .user_links a.profile {
    color: #fff;
    opacity: .75;
}
.menu-header .logged-in-block .user-profile-block .user_links a.top-points {
    color: #fff;
    margin: .75rem 0;
    font-size: 125%;
}
.fa-award:before {
    content:"\f559";
    padding-left: 5px;
    color: gold;
   }
   
   .user-profile-block .fa-google-plus:before {
    content:"\f2b3";
    margin-left: -22px;
    color: #d81159;
    font-size: 1.5rem;
}
   
.menu-header .logged-in-block .user-profile-block .user_links a.logout, .menu-header .logged-in-block .user-profile-block .user_links a.profile {
    font-size: 95%;
  }
.menu-header .logged-in-block .user-profile-block .user_links a.logout > i, .menu-header .logged-in-block .user-profile-block .user_links a.profile > i {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    position: relative;
    top: -.09em;
    margin-right: .5em;
}
.menu-header .logged-in-block .user-profile-block .user_links a.logout {
    margin-top: .25rem;
}

.svg-sprite-site-menu.icon-log-out {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2221%22%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22none%22%20opacity%3D%22.33%22%20d%3D%22M0%200h21v21H0z%22%2F%3E%3Cpath%20d%3D%22M4.208%204H6a1%201%200%200%200%200-2H4.208A2.21%202.21%200%200%200%202%204.208v12.584A2.21%202.21%200%200%200%204.208%2019H6a1%201%200%200%200%200-2H4.208A.209.209%200%200%201%204%2016.792V4.208A.209.209%200%200%201%204.208%204zM18.191%203.73l-6.826-2.275A1.037%201.037%200%200%200%2010%202.438v16.123a1.037%201.037%200%200%200%201.365.984l6.826-2.275A1.183%201.183%200%200%200%2019%2016.148V4.852a1.183%201.183%200%200%200-.809-1.122zM13.826%2011h-.014l-1.22-.091a.532.532%200%201%201%20.006-.35l1.242.092a.174.174%200%200%201-.014.349z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }

.sticky {
    position: fixed;
    top: 0;
    width: 230px;
}
.contain-nav {
  margin: 2rem 1rem;
}    
.menu-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 230px;
}
.menu-block > * {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu-block .home i {
    color: #02b2c0;
    font-size: 18px;
    padding-right: 10px;
}

.menu-block .price i {
    content:"\f2b3";
    color: #d81159;
    font-size: 1.3rem;
   }
   

.menu-block .subjects i {
    color: #02a66b;
    font-size: 1rem;
   }

   .breadcrumb {
    list-style: none;
    padding: 0 0 8px;
}
.breadcrumb > li {
    display: inline;
}
.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
  }
.manuale {
    padding: 39px 30px;
    width: 100%;
}

.manuale > h2 {
    font-size: 29px;
    font-weight: 500;
    background-color: #508ccd;
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.manuale-container {
    background-color: white;
    display: flex;
    gap: 20px;
    padding: 40px 45px;
}

div.manual-item {
    text-align: center;
    width: 33%;
    cursor: pointer;
}
   

.manual-item:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}
  
.manual-item a {
    text-decoration: none;
    color: inherit;
}

.manual-item img {
    height: 150px;
    object-fit: cover;
    width: 150px;
    border-radius: 50%;
    padding: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px gray solid;
} 
  

.manual-item p {
    padding-top: 10px;
}

/*History*/
.teme-container {
    padding: 40px 0px;
}
.teme-container h2 {
    font-size: 29px;
    font-weight: 500;
}
.program-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress-box {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.progress-box span {
    text-align: right;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.125rem;
}

.progress {
    width: 130px;
    background-color: #ddd;
}
  
.bar {
    width: 1%;
    height: 8px;
    background-color: #04AA6D;
}
.topic-list {
    margin-top: 1.25em;
    list-style: none;
    counter-reset: tplc;
    font-size: 1.563em;
}
.teme-container {
    animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}
.teme-container h3, header h3 {
    font-size: 1.5rem;;
    font-weight: 400;
}
.topic-header {
    display: flex;
    justify-content: space-between;
}
.topic-list > li.topic-item {
    margin-top: 1.1em;
    line-height: 1.25;
}
.topic-list > li {
    margin-bottom: .5em;
}
.topic-header-title {
    display: flex;
}   
.topic-list .num {
    counter-increment: tplc;
  }
.topic-list .num::before {
    content: counter(tplc,upper-roman) ".";
    text-align: right;
    display: block;
    padding-right: 0.5em;
    min-width: 1.8em;
}
.subtopic-list {
    padding-left: 2.5em;
    margin-top: .313em;
    font-size: .64em;
    counter-reset: stplc;
    list-style-type: none;
}
.subtopic-list li {
    line-height: 1.5em;
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.subtopic-header {
    display: flex;
}   
.subtopic-list .num {
    counter-increment: stplc;
}
.subtopic-list .num::before {
    content: counter(stplc,decimal) ".";
}

.teme-container h4 {
    font-size: 1.125rem;;
    font-weight: 400;
}

.title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.title-img {
    display: flex;
    align-items: center;
    gap: 10px;
}
.title-box h1 {
    font-weight: 400;
    font-size: 1.875em;
    line-height: 1.1;
   }
   section .block {
    margin: 0 auto 2em;
    border: .0625rem solid #ccc;
    background-color: #fff;
    box-shadow: 1px 1px 16px #ccc;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  accordion.active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion h3:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;;
    float: right;
    margin-left: 5px;
  }
  
  .accordion.active h3:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .hide {
    display: none;
  }

  .hideImportant {
    display: none !important;
  }



.block .header, .block .accordion {
    min-height: 2em;
    line-height: 2.5em;
    padding: .3em 1.5em;
    background-color: #76a900;
    color: #fff;
}
.subjects-container, .tests-container {
    padding: 2em 2em;
}

.subjects-container.panel {
    padding: 0;
}
.subject-item, .test-item {
    display: flex;
    justify-content: space-between;
    line-height: 2em;
}
.title-item {
    display: flex;
    gap: 5px;
}
   
span[id] {
    font-weight: bold;
    color: #76a900;
} 
.notite {
    display: flex;
    height: 390px;
    overflow-y: auto;
    position: relative;
    border: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-left: none;
    margin-top: 15px;
}
.tab-notite {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 21%;
    position: sticky;
    top: 0;
}
.tab-notite button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}
.tab-notite button:hover {
    background-color: #ddd;
}
.tab-notite button.active {
    background-color: #ccc;
}
.content-notite {
    width: 79%;
    line-height: 1.4;
}
   
.content-notite .tabcontent{
    padding: 0px 12px;
    display: none;
}
.content-notite .tabcontent:first-child{
    display: block;
}
.tabcontent ul{
    padding: 5px 0;
}
.tabcontent ul li {
    position: relative;
    padding: 0 0 0 33px;
    list-style-type: none;
}
.tabcontent ul li:nth-child(odd) {
  background: #f9f9f9;
}
.tabcontent ul li::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 4px;
    left: 16px;
    transform: rotate(45deg);
    height: 8px;
    width: 4px;
}

.tabcontent  h5:nth-child(1) {
    font-size: inherit;
    font-weight: inherit;
    padding: 8px 0;
}
.light-shadow{
    text-shadow: 1px 1px 1px #aba9a9;
}
   
   
   
   
   